---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: downloads
spec:
  interval: 10m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: longhorn
      namespace: storage
  values:
    controller:
      type: statefulset
    image:
      repository: ghcr.io/onedr0p/qbittorrent
      tag: 4.6.2
    env:
      TZ: ${TIMEZONE}
      QBITTORRENT__PORT: &port 8080
      QBITTORRENT__BT_PORT: &bittorrentPort ${SECRET_VPN_FORWARDED_PORT_1}
      QBT_Application__MemoryWorkingSetLimit: 7500
      QBT_BitTorrent__Session__BTProtocol: 'TCP'
      QBT_BitTorrent__Session__DTHEnabled: 'false'
      QBT_BitTorrent__Session__LSDEnabled: 'false'
      QBT_BitTorrent__Session__PeXEnabled: 'false'
      QBT_BitTorrent__Session__DefaultSavePath: '/media/downloads'
    podAnnotations:
      set-gateway-vpn: "true"
    hostname: qbittorrent-0
    service:
      main:
        ports:
          http:
            port: *port
      bittorrent:
        enabled: true
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 10.10.1.230
        ports:
          bittorrent:
            enabled: true
            port: *bittorrentPort
            protocol: TCP
        externalTrafficPolicy: Cluster
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          hajimari.io/icon: "arcticons:qbittorrent-remote"
          nginx.ingress.kubernetes.io/configuration-snippet: |
            proxy_hide_header "x-webkit-csp";
            proxy_hide_header "content-security-policy";
            proxy_hide_header "X-Frame-Options";
            proxy_set_header Accept-Encoding "";
            sub_filter '</head>' '<link rel="stylesheet" type="text/css" href="https://theme-park.${SECRET_DOMAIN}/css/base/qbittorrent/nord.css"></head>';
            sub_filter_once on;
        hosts:
          - host: &host "qbittorrent.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podSecurityContext:
      runAsUser: 568
      runAsGroup: 568
      fsGroup: 568
      fsGroupChangePolicy: OnRootMismatch
    volumeClaimTemplates:
      - name: config
        mountPath: /config
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: longhorn-config
    persistence:
      media:
        enabled: true
        existingClaim: downloads
        mountPath: /media
      incomplete:
        enabled: true
        type: emptyDir
    resources:
      requests:
        cpu: 10m
        memory: 8G
      limits:
        memory: 8G
    sidecars:
      reannounce:
        image: ghcr.io/buroa/qbittools:v0.11.0
        imagePullPolicy: IfNotPresent
        args: ["reannounce", "--process-seeding", "-s", "localhost", "-p", "8080"]
