# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
# Ansible
.venv*
# Terraform
.terraform
terraform.tfstate*
# Taskfile
.tasks
# Scripts
scripts/node_modules
scripts/.env
