---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: authelia-external-secret
  namespace: system
spec:
  target:
    name: authelia-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # App
        AUTHELIA_AUTHENTICATION_BACKEND_LDAP_USER: "{{ .lldap_user_dn }}"
        AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD: "{{ .lldap_password }}"
        AUTHELIA_IDENTITY_PROVIDERS_OIDC_HMAC_SECRET: "{{ .authelia_oidc_hmac_secret }}"
        AUTHELIA_IDENTITY_PROVIDERS_OIDC_ISSUER_PRIVATE_KEY: "{{ .authelia_oidc_issuer_private_key }}"
        AUTHELIA_JWT_SECRET: "{{ .authelia_jwt_secret }}"
        AUTHELIA_SESSION_SECRET: "{{ .authelia_session_secret }}"
        AUTHELIA_STORAGE_ENCRYPTION_KEY: "{{ .authelia_storage_encryption_key }}"
        AUTHELIA_NOTIFIER_SMTP_USERNAME: "{{ .authelia_smtp_username }}"
        AUTHELIA_NOTIFIER_SMTP_PASSWORD: "{{ .authelia_smtp_password }}"
        AUTHELIA_NOTIFIER_SMTP_SENDER: "{{ .authelia_smtp_sender }}"
        # Clients
        GRAFANA_OAUTH_CLIENT_SECRET: "{{ .authelia_grafana_oauth_client_secret }}"
  data:
    - secretKey: lldap_user_dn
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 8f2e48fc-3e96-4d79-867a-b0490133afc0
        property: username
    - secretKey: lldap_password
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 8f2e48fc-3e96-4d79-867a-b0490133afc0
        property: password
    - secretKey: authelia_oidc_hmac_secret
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 94348ad9-8138-4bf5-8c54-b0490134df30
        property: authelia_oidc_hmac_secret
    - secretKey: authelia_oidc_issuer_private_key
      sourceRef:
        storeRef:
          name: bitwarden-notes
          kind: ClusterSecretStore
      remoteRef:
        key: 94348ad9-8138-4bf5-8c54-b0490134df30
    - secretKey: authelia_jwt_secret
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 94348ad9-8138-4bf5-8c54-b0490134df30
        property: authelia_jwt_secret
    - secretKey: authelia_session_secret
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 94348ad9-8138-4bf5-8c54-b0490134df30
        property: authelia_session_secret
    - secretKey: authelia_storage_encryption_key
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 94348ad9-8138-4bf5-8c54-b0490134df30
        property: authelia_storage_encryption_key
    - secretKey: authelia_smtp_username
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 94348ad9-8138-4bf5-8c54-b0490134df30
        property: authelia_smtp_username
    - secretKey: authelia_smtp_password
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 94348ad9-8138-4bf5-8c54-b0490134df30
        property: authelia_smtp_password
    - secretKey: authelia_smtp_sender
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 94348ad9-8138-4bf5-8c54-b0490134df30
        property: authelia_smtp_sender
    - secretKey: authelia_grafana_oauth_client_secret
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 94348ad9-8138-4bf5-8c54-b0490134df30
        property: authelia_grafana_oauth_client_secret

