---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-tdarr
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-intel-device-plugins-gpu
  path: ./kubernetes/apps/downloads/tdarr/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 3m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-tdarr-node
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-intel-device-plugins-gpu
    - name: cluster-apps-tdarr
  path: ./kubernetes/apps/downloads/tdarr/node
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 3m
