---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: hajimari
  namespace: default
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: ingress-nginx
      namespace: networking
  values:
    podAnnotations:
      reloader.stakater.com/auto: "true"
    image:
      repository: ghcr.io/aumer-amr/hajimari
      tag: main-7cf2dec
    env:
      TZ: "${TIMEZONE}"
      SECRET_INFRA_DOMAIN: ${SECRET_INFRA_DOMAIN}
    persistence:
      config:
        enabled: true
        type: configMap
        name: hajimari-configmap
        subPath: config.yaml
        mountPath: /config/config.yaml
        readOnly: false
      data:
        enabled: true
        type: emptyDir
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations: #https://github.com/toboshii/hajimari/pull/101
          nginx.ingress.kubernetes.io/configuration-snippet: |
            sub_filter '</head>' '<style>html, body { width: 100% !important }</style></head>';
            sub_filter_once on;
          hajimari.io/enable: "false"
          hajimari.io/icon: "weather-sunset"
        hosts:
          - host: &host "hajimari.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    podAnnotations:
      configmap.reloader.stakater.com/reload: hajimari-settings
    resources:
      requests:
        cpu: 100m
        memory: 128M
    service:
      main:
        ports:
          http:
            port: 3000
    serviceAccount:
      create: true
