---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./rbac.yaml
  - ./helmrelease.yaml
  - ./../../../storage/volsync/templates/
configMapGenerator:
  - name: hajimari-configmap
    files:
      - config.yaml=./config/config.yaml
generatorOptions:
  disableNameSuffixHash: true
