---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nas
provisioner: nfs.csi.k8s.io
parameters:
  server: 10.10.0.22
  share: /mnt/rpool/k8s-pvc
reclaimPolicy: Delete
volumeBindingMode: Immediate
mountOptions: ["hard", "noatime"]
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nas-movies
provisioner: nfs.csi.k8s.io
parameters:
  server: 10.10.0.22
  share: /mnt/rpool/media/movies
reclaimPolicy: Delete
volumeBindingMode: Immediate
mountOptions: ["hard", "noatime"]
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: nas-series
provisioner: nfs.csi.k8s.io
parameters:
  server: 10.10.0.22
  share: /mnt/rpool/media/series
reclaimPolicy: Delete
volumeBindingMode: Immediate
mountOptions: ["hard", "noatime"]
