---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-intel-device-plugins-operator
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-cert-manager
  path: ./kubernetes/apps/system/intel-device-plugins/operator
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  interval: 10m
  prune: true
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-intel-device-plugins-gpu
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-intel-device-plugins-operator
  path: ./kubernetes/apps/system/intel-device-plugins/gpu
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  interval: 30m
  prune: true
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-intel-device-plugins-exporter
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-intel-device-plugins-operator
  path: ./kubernetes/apps/system/intel-device-plugins/exporter
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  interval: 30m
  prune: true
  wait: true
