---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: outline-external-secret
  namespace: home
spec:
  target:
    name: outline-secret
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        # App
        DATABASE_URL: postgresql://{{ .outline_pg_user }}:{{ .outline_pg_pass }}@postgres-rw.database.svc.cluster.local/outline
        SECRET_KEY: "{{ .outline_secret_key }}"
        UTILS_SECRET: "{{ .outline_utils_key }}"
        SMTP_USERNAME: "{{ .outline_smtp_username }}"
        SMTP_PASSWORD: "{{ .outline_smtp_password }}"
        SMTP_FROM_EMAIL: "{{ .outline_smtp_password_from_email }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: |-
          outline
        INIT_POSTGRES_HOST: |-
          postgres-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: |-
          {{ .outline_pg_user }}
        INIT_POSTGRES_PASS: |-
          {{ .outline_pg_pass }}
        INIT_POSTGRES_SUPER_USER: |-
          {{ .pg_super_user }}
        INIT_POSTGRES_SUPER_PASS: |-
          {{ .pg_super_pass }}
  data:
    - secretKey: pg_super_user
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: b0f64f2d-7a43-4ac2-9b6d-b02e01525324
        property: username
    - secretKey: pg_super_pass
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: b0f64f2d-7a43-4ac2-9b6d-b02e01525324
        property: password
    - secretKey: outline_pg_user
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: b0f64f2d-7a43-4ac2-9b6d-b02e01525324
        property: outline_pg_user
    - secretKey: outline_pg_pass
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: b0f64f2d-7a43-4ac2-9b6d-b02e01525324
        property: outline_pg_pass
    - secretKey: outline_secret_key
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 3423aaad-f5b8-439f-895a-b06000927041
        property: outline_secret_key
    - secretKey: outline_utils_key
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 3423aaad-f5b8-439f-895a-b06000927041
        property: outline_utils_key
    - secretKey: outline_smtp_username
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 3423aaad-f5b8-439f-895a-b06000927041
        property: outline_smtp_username
    - secretKey: outline_smtp_password
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 3423aaad-f5b8-439f-895a-b06000927041
        property: outline_smtp_password
    - secretKey: outline_smtp_from_email
      sourceRef:
        storeRef:
          name: bitwarden-fields
          kind: ClusterSecretStore
      remoteRef:
        key: 3423aaad-f5b8-439f-895a-b06000927041
        property: outline_smtp_from_email
