---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: &app outline
  namespace: home
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    initContainers:
      01-init-db:
        image: ghcr.io/onedr0p/postgres-init:14.9
        imagePullPolicy: IfNotPresent
        envFrom: &envFrom
          - secretRef:
              name: outline-secret
    controller:
      strategy: RollingUpdate
      annotations:
        reloader.stakater.com/auto: "true"
    image:
      repository: docker.io/outlinewiki/outline
      tag: 0.70.2
    envFrom: *envFrom
    env:
      ENABLE_UPDATES: "false"
      PORT: 8080
      REDIS_URL: redis://redis.database.svc.cluster.local:6379
      SMTP_HOST: smtp.gmail.com
      SMTP_PORT: 465
      URL: "https://docs.${SECRET_DOMAIN}"
      WEB_CONCURRENCY: 10
      OIDC_CLIENT_ID: outline
      OIDC_AUTH_URI: https://auth.${SECRET_DOMAIN}/oauth2/auth
      OIDC_TOKEN_URI: https://auth.${SECRET_DOMAIN}/oauth2/token
      OIDC_USERINFO_URI: https://auth.${SECRET_DOMAIN}/oauth2/userinfo
      OIDC_SCOPES: openid,profile,email,groups
    command:
      [
        "/bin/sh",
        "-c",
        "yarn db:migrate --env=production-ssl-disabled && yarn start --env=production-ssl-disabled",
      ]
    service:
      main:
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        annotations:
          hajimari.io/icon: mdi:text-box-multiple
        hosts:
          - host: &host "docs.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
    topologySpreadConstraints:
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: *app
    resources:
      requests:
        cpu: 10m
        memory: 50Mi
      limits:
        memory: 500Mi
